<!DOCTYPE html>
<html>
  <head>
    <title>Chat Room</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <h1>Chat Room</h1>
    <form action="" onsubmit="sendMessage(event)">
      <input
        type="text"
        id="username"
        autocomplete="off"
        placeholder="username"
        value="John"
      />
      <input
        type="text"
        id="messageText"
        autocomplete="off"
        placeholder="Type your message..."
      />
      <button>Send</button>
    </form>
    <ul id="messages"></ul>

    <script>
      var ws = new WebSocket("ws://localhost:8000/ws");
      ws.onmessage = function (event) {
        var messageData = JSON.parse(event.data);
        console.log("Message received", messageData);
        var messages = document.getElementById("messages");
        var message = document.createElement("li");
        var content = document.createTextNode(
          messageData.from + ": " + messageData.content
        );
        message.appendChild(content);
        messages.appendChild(message);
      };
      function sendMessage(event) {
        var messageInput = document.getElementById("messageText");
        var usernameInput = document.getElementById("username");
        ws.send(
          JSON.stringify({
            from: usernameInput.value,
            content: messageInput.value,
          })
        );
        messageInput.value = "";
        event.preventDefault();
      }
    </script>
  </body>
</html>
